$background_wrapper: #e5e5e5;
$background_red: linear-gradient(to top, #D2333E 0%, #F54B55 100%);
$background_buttom_game: linear-gradient(-45deg, #66CCCC 0%, #5fb7b7 100%);

$box-shadow: 0px 0px 3px 1px #b4b0b0;
$box-shadow-hover: 0px 0px 5px 1px #aaa2a2;

$color-yellow: #FFCC33;
$color: #020243;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
$fonts_1: 'Open Sans', sans-serif;